{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'main.css' %}">
	<link rel="shortcut icon" href="{% static 'code-solid.svg' %}" type="image/x-icon">
	<title>Ilyasse Idkhebbach - Portfolio</title>
</head>

<body>

	<div class="bg">
	<nav>
		<ul>
			<li><h2><a href="/" ><i class="fa-brands fa-github-alt"></i><span> Idkhebbach</span></a> </li>
			<li><h2><a href="#projects-id" >Projects</a></li></li>
			<li><h2><a href="about" >About</a></li></li>
			<li><h2><a href="#contact" >Contact</a></li></li>
			<li><h2><a href="https://www.linkedin.com/in/idkhebbach/" target="_blank"><span class="fa-brands fa-linkedin"></span> <span class="sr-only">Linkedin</span></a></li></li>
			<li><h2><a href="https://github.com/Iidkhebb" target="_blank" ><span class="fa-brands fa-square-github" aria-hidden="true"></span> <span class="sr-only">Github</span></a></li>
			<li><h2><a href="#resume" > <i class="fa-regular fa-file-lines"></i> <span class="sr-only">Resume</span></a></li>
	
		</ul>
	</nav>

<!-- extend -->
	{% block content %}

	{% endblock %}
<!-- extend -->

<div id="gradien"></div>
<section class="footer">
	<h2>Ilyasse Idkhebbach</h2>
	<li><a href="#linkedin" ><span class="fa-brands fa-linkedin"></span> <span class="sr-only">Linkedin</span></a></li>
	<li><a href="#github" ><span class="fa-brands fa-square-github" aria-hidden="true"></span> <span class="sr-only">Github</span></a></li>
		<li><a href="#email" ><span class="fa-solid fa-envelope" aria-hidden="true"></span> <span class="sr-only">Email</span></a></li>

	<p>© 2022 Ilyasse Idkhebbach. All rights reserved.</p>
</section>
</body>


<script src="https://kit.fontawesome.com/aa5563f3f8.js" crossorigin="anonymous"></script>
</html>