{% extends 'base.html'%}


{% block content %}
<section id="intro"> 
<p class="name">Hi, my name is <span> Ilyasse Idkhebbach.</span></p>
<h2>I am Developer</h2>
<p>I am a web developer who is passionate about creating beautiful and functional websites.</p>
<p>Check out my github repo <a href="https://github.com/Iidkhebb" target="_blank">iidkhebb.</a></p>
</section>
</div>

<div id="gradien"></div>

<!-- projects -->
<div id="projects-id" class="project-div">
<section class="project-sec">
	<h2>Project I'am Proud of</h2>
	
	<article class="art-1">
		<div class="text">
		<h4>Latest Projects</h4>
		<h3>Price predection</h3>
		<p class="box">Lorem, ipsum dolor sit amet consectetur 
			adipisicing elit. Veritatis temporibus dolores est et 
			ducimus commodi dolorum nulla sit porro quia! Soluta voluptas
			 earum dolores odit! Fugit officia quidem perspiciatis qui!</p>
		<h4>Techonlogies used</h4>
		<ul>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Python</li>
			<li>MongoDB</li>
		</ul>
	</div>

	<img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-1.png" alt="price-predection"/>
	</article>


<!-- reverse section -->
	<article class="rev">
		<div class="text">
		<h4>Bootcamp Project</h4>
		<h3>Game Devs</h3>
		<p class="box">Lorem, ipsum dolor sit amet consectetur 
			adipisicing elit. Veritatis temporibus dolores est et 
			ducimus commodi dolorum nulla sit porro quia! Soluta voluptas
			 earum dolores odit! Fugit officia quidem perspiciatis qui!</p>
		<h4>Techonlogies used</h4>
		<ul>
			<li>Python</li>
			<li>JavaScript</li>
			<li>C</li>
		</ul>
	</div>

	<img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-5.png" alt="price-predection"/>
	</article>

<!-- reverse section -->

	<article class="art-1">
		<div class="text">
		<h4>Python Skills</h4>
		<h3>Data Scraping</h3>
		<p class="box">Lorem, ipsum dolor sit amet consectetur 
			adipisicing elit. Veritatis temporibus dolores est et 
			ducimus commodi dolorum nulla sit porro quia! Soluta voluptas
			 earum dolores odit! Fugit officia quidem perspiciatis qui!</p>
		<h4>Techonlogies used</h4>
		<ul>
			<li>HTML</li>
			<li>Python</li>
			<li>JavaScript</li>
		</ul>
	</div>

	<img src="https://assets.codepen.io/296057/fem-gettingstartedcss-ch5-4.png" alt="price-predection"/>
	</article>

</section>
</div>

<!-- projects -->
<div id="gradien"></div>
<div class="contact-block">
<section id="contact">
	<h2>Contact me</h2>
	<p>I'm always interested in hearing about new teaching opportunities, writing curricula, or instructional design work.</p>
	<a class="button" href="mailto:iidkhebb@student.1337.ma">Email me</a>
</section></div>
{% endblock %}